<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=user%> CHAT WITH <%=name%> </h1>
    <form action="/chat/<%=name%>" method="post">
        <input type="text" name="message">
        <input type="submit" value="send">
    </form>
    <%  for(var i=0;i<result.length;i++) {%>
        <hr>
        <% if(result[i].person1==user) {%>
        <p1><%=result[i].message%></p1><br>
        <% }%>
        <% if(result[i].person2==user){%>
        <p2>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%=result[i].message%></p2><br>

        <% }%>
    <% } %>
</body>
</html>